body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
}

.logo-button button {
    background-color: blue;
    border-radius: 25px;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    padding: 5px 10px;
}

.search-bar input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin: 10px 0;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-menu li {
    display: inline;
}

.nav-menu a {
    background-color: white;
    color: gray;
    text-decoration: none;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 5px;
}

main {
    padding: 20px;
}

.intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.intro-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.intro-logo,
.intro-image {
    max-width: 30%;
}

.main-images {
    display: flex;
    justify-content: center;
    gap: 0px;
    flex-wrap: wrap;
    padding-bottom: 100px;
    padding-left: 100px;
}

.main-images img {
    width: auto;
    height: auto;
    border-radius: 10px;
}

.central-info {
    display: grid;
    gap: 20px;
    margin-bottom: 20px;
}

.column {
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

footer {
    background-color: white;
    color: black;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
}

.footer-column {
    width: 30%;
    text-align: center;
}

/*Estilos que serán responsivos */

/* tamaño grande */
@media (min-width: 992px) {
    .intro-content {
        flex-direction: row;
    }

    .main-images img {
        width: 48%;
    }

    .central-info {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* tamaño mediano */
@media (min-width: 768px) and (max-width: 991px) {
    .intro-content {
        flex-direction: column;
        align-items: center;
    }

    .intro-logo,
    .intro-image {
        max-width: 80%;
    }

    .intro-description {
        max-width: 80%;
        padding: 0;
    }

    .main-images img {
        width: 48%;
    }

    .central-info {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* tamaño pequeño */
@media (max-width: 767px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-menu {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .logo-button button {
        font-size: 1em; /* Hacer el logo más pequeño en pantallas pequeñas */
    }

    .intro-content {
        flex-direction: column;
        align-items: center;
    }

    .intro-logo,
    .intro-image {
        max-width: 100%;
    }

    .intro-description {
        max-width: 100%;
        padding: 0;
    }

    .main-images {
        flex-direction: column; /* Asegurar que las imágenes se dispongan en columna en pantallas pequeñas */
        padding-left: 0;
    }

    .main-images img {
        width: 100%;
        margin-bottom: 10px; /* Espacio entre imágenes */
    }

    .central-info {
        grid-template-columns: 1fr;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        width: 100%;
        margin-bottom: 10px;
    }
}
